body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../src/images/bg1.jpg');
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* header css-soorya */

a{
  color: white;
}
.nav-link{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid white;
  
  
}

.nav-item a:hover{
  background-color: teal;
  color: black !important;
 
}
#logo{
  margin-left: 100px;
}
/* header css-soorya ends here*/

/* post a job-soorya */
.container{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.form{
  background-color:  #ffffff;
  border: 1px solid #cccccc;
  width: 700px;
}
/* post a job-soorya ends here*/

/* Footer-soorya */
footer{
  margin-top: 100px;
  height:60px;
}
footer >p{
  font-size:small;
}
/* Footer-soorya ends here*/

/* Home-soorya */
.root{
  margin-top: 100px;
  margin-bottom: 100px;
}
.details{
  width: 100%;
  height: auto;
    display: inline-block;
    list-style: none;
    /* margin-top: 10px; */

}
.fleft{
  float: left;
}
li{
  display: flex;
  position: relative;
  align-items: center;
  line-height: 19px;
  font-size: 15px;
}
.list{
  width: 100%;
    display: inline-block;
    /* margin-top: px; */
}
.info{
  font-size: 15px;
  height: 60px;
  justify-content: left;
}
.jobTupleHeader{
  height: 90px;
}
.jobTuple{
  position: relative;
  justify-content: left;
}
.fright{
  float: right;
}
.jobFooter{
  font-size: 12px;

}
/* Home-soorya ends here*/



  

